@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather", serif;
    font-weight: 400;
}

section{ 
    padding: 28px 5%;
}

header{
    width: 100%;
    padding: 20px 5%;
    position:fixed;
    z-index: 1000;
    background: white;
    height: min-content;
    box-shadow: 0px 2px 5px #ffe25151 ;
}

#navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    gap: 20px; 
}

.logo img{
    width:40px;
    height: 40px; 
}

.logo a{
    font-size: 20px;
    width: max-content;
    font-family: "Titan One";
    text-decoration: none;
    color: black;
}

.logo a:hover{
    color: #c8b34a;
    transition: all 0.2s ease-in-out;
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 100px;
    margin-right: 100px;

}

.nav-item a{
    font-size: 13px;
    text-decoration: none;
    color:rgb(43, 42, 42);
}

.nav-item.active a{
    padding: 1rem;
    border-radius: .2rem;
    background: #4e9aa91b;
    color: rgb(62, 105, 106);
    transition: all 2s ease-in-out;
}

.nav-item:hover a{
    color:rgb(0, 0, 0);
   text-decoration: underline solid 3px #c8b34a;
}

#mobile_btn{
    display: none;
}

#mobile_menu{
    display: none;
}


/*main*/
/*INICIAL*/
#paginainicial{
    display: flex;
    gap: 12%;
    align-items:center;
    background-color: #4e9aa91b;
    height:100vh;
    width: 100%;

}

#paginainicial img{
    width: 45%;
    height: 100vh;
    
}

.cardTextosP {
    width: 20%;
    align-items: center;  
}


.cardTituloP{
    display: flex;
    align-items: center;
    gap: 20px;
    height: 36px;
    background-color: #4e9aa91b;
    padding: 10px;
    width: max-content;
    font-size: 8px;
}

.texto1TP{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 2px;
    
}

.chamadaP{
    height: 70%;
    color: #000000;
    font-size: 2.5rem;
    width: 25vw;
    margin: 20px 0;
    font-family: "Titan One";
    font-weight: 400;
}

.descricaoP{
    width: 25vw;
    font-size: 12px;
    text-align: justify;
}

/*NOVIDADES*/

#novidades{
    min-height: max-content;
    width: 100%;
    padding-top: 30px;
    align-items: center;
}

#novidades h1{
    font-family: 'Titan one';
    height: 9vh;
   text-align: center;
   align-items: center;
   text-decoration: underline 2px solid #c8b34a;

}


.caixa-card-blog{
    display: flex;
    align-items: center;
    gap: 150px;
    width: 100%;
    padding: 20px;
    height: 30%;
    justify-content: center;
}

.card{
    display: flex;
    width: 50%;
    height: max-content;
    align-items: center;
    gap: 20px;
    justify-content: center;
    background: #4e9aa91b;
}


.card .imagem{
    width: 30%;
    height: 240px;
    border-radius: 100px;
    object-fit: cover;
    padding: 20px;
    align-items: center;
}

.card-lado{
    width: 70%;
    height: 100%;
    background: #4e9aa91b;
    border-radius: 10px;
    
}

.card-cima{
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 15px;
}

.categoria{
    background: #8acfdd68;
    color: rgb(16, 46, 46);
    padding: 4px;
    border-radius: 2px;
}

.date{
    text-decoration: underline solid 1px #c8b34a;
}

.card-title{
    font-size: 20px;
    font-family: "Titan One";
    font-weight: 400;
    padding: 20px;
   text-align: center;
}

.card-desc{
    font-size: 10px;
    text-align: justify;
    padding: 15px;
}

.card-baixo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.avatar{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 9px;
}

.avatar img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

.card-baixo a{
    list-style:none ;
    text-decoration: none;
    color: #000000;
    background: #f3d85398;
    font-size: 10px;
    padding: 8px;
    border-radius: 10px;
}


/**/
@media screen and (max-width: 1880px){
    #novidades h1{
        height: fit-content;
        padding-bottom: 20px;
    }

    .caixa-card-blog{
        display: flex;
        width: 100%;
        gap: 20px
    }


    .card{
        display: flex;
        width: 50%;
        height: max-content;
        align-items: center;
        gap: 30px;
    
    }
    .card .imagem{
        width: 40%;
        height: 100%;
    }

    .card-lado{
        width: 50%;
        height: 100%;
        
    }
}

@media screen and (max-width: 1080px){

    /*header*/
    #nav_list{
        display: none;
    }

    #mobile_btn{
        display: block ;
        border: none;
        background-color: transparent;
        font-size: 1.5rem;
        cursor: pointer;
        padding-right: 5%;
    }

    #mobile_menu.active{
        display: block;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    #mobile_nav_list{
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 12px 0px;
    }

    #mobile_nav_list .nav-item{
        list-style: none;
        text-align: center;
        margin: 10px 0px;
    }

    
    #mobile_menu .nav-item.active a{
        padding: 1rem;
        border-radius: .2rem;
       
        color: rgb(62, 105, 106);
        transition: all 2s ease-in-out;
        cursor: pointer;
    }
    
    #mobile_menu .nav-item:hover a{
        color:rgb(0, 0, 0);
       text-decoration: underline solid 3px #c8b34a;
    }

/*main*/
    #paginainicial{
        display: flex;
        flex-direction: column;
        align-items:center;
        width: 100%;
        height: max-content;
    
    }
    
    #paginainicial img{
        width: 80%;
        height: 65vh;
    }

    .cardTextosP {
        width: 90%;
        height: max-content;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

        
    .cardTituloP{
        display: flex;
        gap: 20px;
        height: fit-content;
        background-color: #4e9aa91b;
        padding: 10px;
        width: fit-content;
        font-size: 8px;
    }

    .texto1TP{
        background-color: #ffffff;
        padding: 5px;
        border-radius: 2px;
        text-align: center;
    }

    .chamadaP{
        height: fit-content;
        color: #000000;
        font-size: 1.8rem;
        width: 100%;
        margin: 20px 0;
        font-family: "Titan One";
        font-weight: 400;
        
    }

    .descricaoP{
        width: 100%;
        font-size: 10px;
        text-align: justify;
        align-items: center;
    }

    /*novidades*/

    #novidades h1{
        height: fit-content;
        padding-bottom: 20px;
    }

    .caixa-card-blog{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px
    }


    .card{
        display: flex;
        width: 100%;
        height: max-content;
        align-items: center;
        gap: 20px;
    
    }
    .card .imagem{
        width: 40%;
        height: 100%;
    }

    .card-lado{
        width: 70%;
    }
}

@media screen and (max-width: 650px){
        /*novidades*/
    
    
        .card{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: max-content;
            align-items: center;
            gap: 20px;
        }

        .card .imagem{
            width: 70%;
            height: 100%;
        }

        .card-lado{
            width: 90%;
        }
}
