.body{
    background-color: #ffffff;
    color: #000000;
    margin: 0;
}

.p{
    margin: 0;
}

.header{
    display: flex;
    height: 90px;
    align-items: center;
    gap: 20%;

}

.logo{
    display: flex;
    height: 30px;
    align-items: center;
    gap: 20px;
    margin-left: 5%;
}

.imgTopo{
    width: 30px;
    height: 30px;

}

.topicos{
    display: flex;
    height: 23px;
    gap: 150px;
    align-items: center;
}

.principal{
    background-color: #ecf1f3;
    height: 846px;
    display: flex;
}
